# Configuration de l'API - Production
VITE_APP_NAME=Yessal Manager
VITE_APP_VERSION=1.0.0
# Configuration de développement
VITE_DEV_MODE=false
VITE_LOG_LEVEL=warn

# Configuration de l'API
VITE_API_URL=http://localhost:4520/api

# Configuration du service de fichiers - Production
VITE_FILE_SERVICE_URL=http://localhost:4540
VITE_FILE_SERVICE_API_KEY=yessal-manager-2025

# Environment
VITE_NODE_ENV=production
