[Unit]
Description=API Associe Yessal - Node.js Service
After=network.target

[Service]
Environment=PORT=4560
Type=simple
User=root
WorkingDirectory=/root/proprojects/yessal/associe-api-yessal
ExecStart=/usr/bin/node /root/proprojects/yessal/associe-api-yessal/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target