[Unit]
Description=Admin Yessal - Prisma studio
After=network.target

[Service]
Environment=PORT=5555
Type=simple
User=root
WorkingDirectory=/root/projectpro/yessal/api-yessal
ExecStart=/usr/bin/node /root/projectpro/yessal/api-yessal/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target